/* =========================================
   Solo's TidaLuna overrides
   ========================================= */

:root {
    /* Home feed container border */
    --feedbrdr: transparent !important;

    /* Home page six large shortcut cards */
    --v1: rgb(15, 15, 20) !important;
    --v2: rgb(15, 15, 20) !important;
}
